---
title: LGSVL Simulator
description: An autonomous vehicle simulator based on Unity
---

<style>
	h3 {
		font-size: 1.6em;
	}
	h4 {
		font-size: 1.17em;
	}
	@media only screen and (max-width:760px) {
		h2 {
			font-size: 2.0em;
		}
		h3 {
			font-size: 1.4em;
		}
		p {
			font-size: 1.1em;
		}
	}
</style>

<section class="hero">
	<div class="container">
		<img class="landing" src="/images/simulator-logo.png"/>
	</div>
	<div class="buttons-row">
		<div class="cta button alt" style="box-sizing: border-box;"><a href="/docs/getting-started" target="_blank">Get Started</a></div>
		<div id="desktop" class="cta button-primary alt" style="padding-right: 0px; ">
			<a id="download-main" target="_blank" data-category="download" data-action="landing-top" href="https://github.com/lgsvl/simulator/releases/latest" style="padding: 16px 15px 16px 35px; box-sizing: border-box; border-top-right-radius: 0px; border-bottom-right-radius: 0px;width: 230px; height: 51px; display:block;">Download</a>
		</div>
		<div id="desktop" class="cta dropdown" style="padding-left: 0px; box-sizing: border-box;">
			<div class="cta button-primary alt" style="padding-left: 0px;">
				<a id="download-main" target="_blank" data-category="download" data-action="landing-top" href="https://github.com/lgsvl/simulator/releases/latest" style="padding: 16px 0px 16px 8px; border-top-left-radius: 0px; border-bottom-left-radius: 0px; border-bottom-right-radius: 3px; border-bottom-right-radius: 3px; width: 30px; height: 51px; display:block;"><i class="fa fa-sort-desc" aria-hidden="true" style="padding-right: 10px; vertical-align: top;"></i></a>
			</div>
			<div class="dropdown-content">
				<a href="#" id="windows-download">2019.01 (.zip) for Windows</a>
				<a href="#" id="linux-download">2019.01 (.zip) for Linux</a>
				<a target="_blank" data-category="download" data-action="all-releases" href="https://github.com/lgsvl/simulator/releases/latest">All releases</a>
			</div>
		<div id="mobile" class="cta button-primary alt" style="box-sizing: border-box;">
			<a id="download-main" target="_blank" data-category="download" data-action="landing-top" href="https://github.com/lgsvl/simulator/releases/latest">Download</a>
		</div>
	</div>

	</div>
</section>

<div class="content">
	<section>
		<div class="container flex">
			<div class="text editable" style="height:35px;">
			<h2><strong><a class="nocolor" href="/blog/">Latest News</a></strong></h2>
		</div>
		</div>
		<div class="container flex" style="align-items: flex-start">
			<div class="text editable">
				{% for post in site.posts limit:1 %}
				<h3>{{ post.title }}</h3>
				<h4>{{ post.date | date: "%B %d, %Y" }}</h4>
				<div class="post-content">
					{{ post.excerpt | truncatewords: 60 | remove: '<image>' | remove: '</image>'}}
					{% capture a_href %}{% include relative-src.html src=post.url %}{% endcapture %}
					<div class="button"><a href="{{ a_href | strip_newlines }}">Read More</a></div>
				</div>
				{% endfor %}

			</div>
			<div class="text editable" style="align-items: stretch">
				<h3>Recent Posts</h3>
				<ul style="list-style-type:none; padding-inline-start:0px;">
					{% for post in site.posts limit:5 %}
						<li>
							<p style="font-size: 1.1em; margin-top: 5px;margin-bottom:5px;">
								{% capture a_href %}{% include relative-src.html src=post.url %}{% endcapture %}
								<a class="nocolor" style="text-decoration:none;" href="{{ a_href | strip_newlines }}">{{ post.date | date: "%B %d, %Y" }}: {{ post.title }}</a></p>
						</li>
						{% endfor %}
				</ul>
			</div>
		</div>
	</section>

	<section>
		<div class="container flex">
			<div class="text editable">
				<ul style="padding-inline-start:0px;">
					<li><p>Full <a data-category="outbound" data-action="apollo-middle" target="_blank" href="http://apollo.auto">Apollo</a>,
						<a data-category="outbound" data-action="autoware-middle" target="_blank" href="https://www.autoware.org">Autoware</a>,
						and <a data-category="outbound" data-action="duckietown-middle" target="_blank" href="https://www.duckietown.org">Duckietown</a> integration</p></li>
					<li><p>ROS/ROS2 integration. Proprietary bridge also possible</p></li>
					<li><p>Real world sensor models including LiDAR, RADAR, GPS, IMU, camera -
						support Velodyne 128, 64, 32 channels (VLS-128, HDL-64E, Ultra Puck, etc.),
						Continental RADAR</p></li>
				</ul>
			</div>
			<div class="image">
				<img src="images/apollo-sim-landing.jpg" alt="Screenshot" class="screenshot editable" style="padding: 20px 0 0 0;"/>
			</div>
		</div>
	</section>

	<section>
		<div class="container flex">
			<div class="text editable">
				<ul style="padding-inline-start:0px;">
					<li><p>HD map support and HD map editing capability - export of
					Apollo and Autoware compatible HD maps</p></li>
					<li><p>Ground truth 2D/3D obstacles export - semantic segmentation view,
						depth camera view, 2D & 3D bounding box support</p></li>
				</ul>
				<div class="button"
				style="padding-bottom:25px;">
					<a data-category="outbound" data-action="github-middle" href="https://github.com/lgsvl/simulator" target="_blank">Github</a></div>
			</div>
			<div class="image">
				<img src="images/segment-sim-landing.jpg" alt="Screenshot" class="screenshot editable" />
			</div>
		</div>
	</section>

	<section>
		<div class="container flex">
			<div class="text editable">
				<h4><a data-category="outbound" data-action="subscribe-bottom" href="http://eepurl.com/go_1w9"  target="_blank">Subscribe</a> to our email newsletter for updates<h4>
			</div>

			<div class="text editable">
				<h4>Get started with our Quick Start <a href="{{site.baseurl}}/docs/getting-started" target="_blank">tutorials</a></h4>
			</div>

			<div class="text editable">
				<h4>See the latest demos on our Youtube <a data-category="outbound" data-action="youtube-bottom" href="https://www.youtube.com/channel/UChrPZIYAnKEKiQjmPmBwPKA" target="_blank">channel</a></h4>
			</div>

			<div class="text editable">
				<h4>Download our product overview <a href="{{site.baseurl}}/downloads/LGSVL-Simulator-Overview.pdf">here</a></h4>
			</div>

		</div>
	</section>

	<section class="bottom-cta">
		<h2 class="editable">Download the project and try it out yourself!</h2>
		<div class="button-primary alt"><a data-category="download" data-action="landing-bottom" href="https://github.com/lgsvl/simulator/releases/latest" target="_blank">Download the latest release</a></div>
	</section>
</div>
