---
title: LGSVL Simulator
description: An autonomous vehicle simulator based on Unity
---

<style>
	h3 {
		font-size: 1.6em;
	}
	h4 {
		font-size: 1.17em;
	}
	@media only screen and (max-width:760px) {
		h2 {
			font-size: 2.0em;
		}
		h3 {
			font-size: 1.4em;
		}
		p {
			font-size: 1.1em;
		}
	}
</style>

<section class="hero">
	<div class="container">
		<!--<h1 class="editable">LGSVL Simulator</h1>-->
		<img class="landing" src="/images/simulator-logo.png"/>
	</div>
		<!--<p class="subtext editable">Track and optimize your sales team in real time.</p>-->
		<div class="buttons-row">
			<div class="cta button alt"><a href="/docs/getting-started" target="_blank">Get Started</a></div>
			<div class="cta button-primary alt"><a href="https://github.com/lgsvl/simulator/releases/latest"
				onclick="trackOutboundLink('landing-top','https://github.com/lgsvl/simulator/releases/latest'); return false;" target="_blank">Download</a></div>
		</div>
	<div>
		<!--<img src="/images/background-banner.jpg" alt="Screenshot" class="screenshot editable" />-->
	</div>
	</div>
</section>

<div class="content">
	<section>
		<div class="container flex">
			<div class="text editable" style="height:35px;">
			<h2><strong><a class="nocolor" href="/blog/">Latest News</a></strong></h2>
		</div>
		</div>
		<div class="container flex" style="align-items: flex-start">
			<div class="text editable">
				{% for post in site.posts limit:1 %}

				<h3>{{ post.title }}</h3>
				<h4>{{ post.date | date: "%B %d, %Y" }}</h4>
				<!--{% include post-title.html post=post%}-->
				<div class="post-content">
					{{ post.excerpt | truncatewords: 60 | remove: '<image>' | remove: '</image>'}}
					<!--<a href="{% include relative-src.html src=post.url %}">Read More &gt;&gt;</a>-->
					<div class="button"><a href="{% include relative-src.html src=post.url %}">Read More</a></div>
				</div>
				{% endfor %}
				<!--
				<h2><strong>About</strong></h2>
				<p>The LGSVL Simulator is a simulator that facilitates testing and development of autonomous driving software systems.
					It enables developers to simulate billions of miles and arbitrary edge case scenarios to speed up algorithm development and system integration.
					<a href="{{site.baseurl}}/about">Read More &gt;&gt;</a>
				</p>
					<div class="button"><a href="{{site.baseurl}}/about">Read More</a></div>-->

			</div>
			<div class="text editable" style="align-items: stretch">
				<h3>Recent Posts</h3>
				<ul style="list-style-type:none; padding-inline-start:0px;">
					{% for post in site.posts limit:4 offset:1%}
						<li>
							<p style="font-size: 1.1em; margin-top: 5px;margin-bottom:5px;">
								<a class="nocolor" style="text-decoration:none;"
								href="{% include relative-src.html src=post.url %}">{{ post.date | date: "%B %d, %Y" }}: {{ post.title }}</a></p>
						</li>
						{% endfor %}
				</ul>
		</div>
			<!--
			<div class="image">
				<img src="images/simulator-landing.png" alt="Screenshot" class="screenshot editable" />
			</div>
		-->
		</div>
	</section>

	<section>
		<div class="container flex">
			<div class="text editable">
				<!-- <p>Our Unity-based, ROS-compatible simulator is fully integrated with the popular open source platforms Baidu Apollo and Tier IV Autoware.
				Our source code is on Github and free to try.</p> -->
				<ul style="padding-inline-start:0px;">
					<li><p>Full <a href="http://apollo.auto">Apollo</a>,
						<a href="https://www.autoware.org">Autoware</a>,
						and <a href="https://www.duckietown.org">Duckietown</a> integration</p></li>
					<li><p>ROS/ROS2 integration. Proprietary bridge also possible</p></li>
					<li><p>Real world sensor models including LiDAR, RADAR, GPS, IMU, camera -
						support Velodyne 128, 64, 32 channels (VLS-128, HDL-64E, Ultra Puck, etc.),
						Continental RADAR</p></li>
				</ul>

			</div>
			<div class="image">
				<img src="images/apollo-sim-landing.png" alt="Screenshot" class="screenshot editable" style="padding: 20px 0 0 0;"/>
			</div>
		</div>
	</section>

	<section>
		<div class="container flex">
			<div class="text editable">
				<ul style="padding-inline-start:0px;">
					<li><p>HD map support and HD map editing capability - export of
					Apollo and Autoware compatible HD maps</p></li>
					<li><p>Ground truth 2D/3D obstacles export - semantic segmentation view,
						depth camera view, 2D & 3D bounding box support</p></li>
				</ul>
				<div class="button"
				style="padding-bottom:25px;">
					<a href="https://github.com/lgsvl/simulator" target="_blank">Github</a></div>
			</div>
			<div class="image">
				<img src="images/segment-sim-landing.png" alt="Screenshot" class="screenshot editable" />
			</div>
		</div>
	</section>

	<section>
		<div class="container flex">
			<div class="text editable">
				<h4>Visit our <a href="https://github.com/lgsvl/simulator" target="_blank">Github</a> page and try the simulator<h4>
			</div>

			<div class="text editable">
				<h4>Get started with our Quick Start <a href="{{site.baseurl}}/docs/getting-started" target="_blank">tutorials</a></h4>
			</div>

			<div class="text editable">
				<h4>See the latest demos on our Youtube <a href="https://www.youtube.com/channel/UChrPZIYAnKEKiQjmPmBwPKA" target="_blank">channel</a></h4>
			</div>

			<div class="text editable">
				<h4>Check our <a href="{{site.baseurl}}/blog">blog</a> for our latest news</h4>
			</div>

		</div>
	</section>

<!--
	<section class="testimonial">
		<div class="container flex">
			<div class="testimonial-block">
				<div class="square-image"><img src="https://source.unsplash.com/6anudmpILw4/600x400" alt="Jim James" class="editable"></div>
				<blockquote>
					<p class="editable">Hydra has shaped the business we have today. We have a repeatable sales process and a strategy to scale our team. I recommend Hydra to any business looking to improve their sales.</p>
					<p class="editable author">Jim James - CEO of Global Corp.</p>
				</blockquote>
			</div>
		</div>
	</section>-->

	<section class="bottom-cta">
		<h2 class="editable">Download the project and try it out yourself!</h2>
		<div class="button-primary alt"><a href="https://github.com/lgsvl/simulator/releases/latest"
			onclick="trackOutboundLink('landing-bottom','https://github.com/lgsvl/simulator/releases/latest'); return false;" target="_blank">Download the latest release</a></div>
	</section>
</div>

<script>
/**
* Function that tracks a click on an outbound link in Analytics.
* This function takes a valid URL string as an argument, and uses that URL string
* as the event label. Setting the transport method to 'beacon' lets the hit be sent
* using 'navigator.sendBeacon' in browser that support it.
*/
var trackOutboundLink = function(buttonName, url) {
   ga('send', 'event', 'download', buttonName, url, {
     'transport': 'beacon',
     'hitCallback': function(){document.location = url;}
   });
	 ga('send', {
		 hitType: 'pageview',
		 title: buttonName,
		 page: url
	 });
}
</script>
